<header>
    <nav>
      <a href="/">MeowStar</a>
      <ul>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/posts/new">Add posts</a></li>
        <li><a href="/comment">comment</a></li>
        <li><a href="/comment/new">Add comment</a></li>
      </ul>
    </nav>
  </header>