<!DOCTYPE html>
<html id="front_page_bg" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Front Page</title>
</head>
<body>
  <header>
    <nav id='front_page_title'>
        <a href="/">Meow Star</a>
        <ul id='front_page'>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/posts/new">Share Posts</a></li>
        </ul>
    </nav>
  
</body>
</html>